@font-face {
  font-family: "Circular Std";
  src: url(./fonts/CircularStd-Book.eot);
  src: url(./fonts/CircularStd-Book.eot?#iefix) format("embedded-opentype"),
    url(./fonts/CircularStd-Book.woff2) format("woff2"),
    url(./fonts/CircularStd-Book.woff) format("woff"),
    url(./fonts/CircularStd-Book.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url(./fonts/CircularStd-Bold.eot?073684546ea098321aba8a6977fd29e2);
  src: url(./fonts/CircularStd-Bold.eot?073684546ea098321aba8a6977fd29e2?#iefix) format("embedded-opentype"),
    url(./fonts/CircularStd-Bold.woff2?a42108bc2b62d8adc90afe4d31119d45) format("woff2"),
    url(./fonts/CircularStd-Bold.woff?32b6f65275dd2aaf423cbd3bdf08720f) format("woff"),
    url(./fonts/CircularStd-Bold.svg?42496f458c2e16d0c53892d0aee4453e#CircularStd-Bold) format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url(./fonts/CircularStd-Medium.eot);
  src: url(./fonts/CircularStd-Medium.eot?#iefix) format("embedded-opentype"),
    url(./fonts/CircularStd-Medium.woff2?) format("woff2"),
    url(./fonts/CircularStd-Medium.woff) format("woff"),
    url(./fonts/CircularStd-Medium.svg) format("svg");
  font-weight: 500;
  font-style: normal;
}

:root {
  --theme-font-family: "Roboto";
  --main-color: #e145ab;
  --secondary-color: #00ccce;
}

body {
  background-color: #02053f;
  background-image: url(./images/bg-pattern.png?c32a8f4a9e2043bd3403e25d65633fbd);
  background-repeat: repeat;
  background-attachment: fixed;
  color: #fff;
  font-family: "Circular Std", sans-serif;
  cursor: default;
}

#hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

#hero>* {
  z-index: 2;
  text-align: left;
}

#hero .city {
  position: absolute;
  width: 110vh;
  right: -7%;
  top: -10%;
}

#hero #ufo {
  position: absolute;
  width: 15rem;
  left: -50vw;
  top: 10%;
  animation: ufo-stuff 10s ease-out 1;
  z-index: 20;
}

#hero .ufo {
  transform: rotate(15deg);
  animation: ufo-rotate 10s ease-out 1;
}

@keyframes ufo-stuff {
  0% {}

  25% {}

  30% {
    transform: translateX(100vw) translateY(0);
  }

  40% {
    transform: translateX(105vw) translateY(10rem);
  }

  50% {
    transform: translateX(115vw) translateY(5rem);
  }

  60% {
    transform: translateX(120vw) translateY(15rem);
  }

  70% {
    transform: translateX(130vw) translateY(15rem) scale(1);
  }

  72% {
    transform: translateX(130vw) translateY(15rem) scale(1.2);
  }

  74% {
    transform: translateX(130vw) translateY(15rem) scale(1);
  }

  100% {}
}

@keyframes ufo-rotate {
  0% {
    transform: rotate(15deg);
  }

  18% {
    transform: rotate(15deg);
  }

  22% {
    transform: rotate(-15deg);
  }

  30% {
    transform: rotate(-4deg);
  }

  40% {
    transform: rotate(15deg);
  }

  60% {
    transform: rotate(-15deg);
  }

  80% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(-35deg);
  }
}


@keyframes ufo-float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(20px);
  }

  100% {
    transform: translatey(0px);
  }
}

@-webkit-keyframes buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

@keyframes buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

/*#hero:after {*/
/*  height: 100%;*/
/*  width: 100%;*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  background: #000;*/
/*  content: "";*/
/*  opacity: 0.5;*/
/*}*/

#hero .small-cta {
  display: inline-flex;
  padding: 16px;
  padding-left: 0;
}

#hero .small-cta>* {
  padding: 20px 40px;
  font-weight: 900;
}

#hero .small-cta>a {
  background: #e145ab;
  color: #fff;
  text-decoration: none;
  transition: 0.4s background;
}

#hero .small-cta>a:hover {
  background: #00ccce;
}

#hero .small-cta>span {
  background: #fff;
  color: #2a2a2a;
}

.big-text {
  font-size: 100px;
  color: #fff;
  font-weight: 900;
  line-height: .8;
}

.big-text .buzzconf {
  animation: buzz 100ms linear 9s 8 alternate;
  display: inline-block;
}

.big-text .date {
  color: var(--main-color);
}

.mid-text {
  width: 54%;
  padding: 3rem 0;
  font-size: 1.2rem;
}

.mid-text span {
  font-weight: 600;
}

.mid-text span:nth-child(even) {
  color: var(--main-color);
}

.mid-text span:nth-child(odd) {
  color: var(--secondary-color);
}

.section-title {
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 5rem;
  position: relative;
}

.section-title::after {
  position: absolute;
  bottom: -14px;
  left: 0;
  width: 15%;
  height: 1px;
  content: "";
  background: rgba(255, 255, 255, 0.75);
}

.section-title.day::after {
  bottom: -10px;
}

.section-padding {
  padding: 6rem 0;
}

.fsection-padding {
  padding: 6rem 0;
  padding-bottom: 1rem;
}


.conf-btn {
  background: #00ccce;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 900;
  padding: 20px 40px;
  display: inline-block;
  border: 0;
  transition: 0.5s all;
}

.conf-btn:hover,
.conf-btn:focus {
  background: #e145ab;
  text-decoration: none;
  color: #fff;
}

.avatar {
  position: relative;
  display: inline-block;
  transition: .5s all;
}

.avatar:hover:after {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: '';
  opacity: .75;
  transition: .3s;
}

.speakers-list {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  gap: 3rem 4rem;

}

.day-title {
  font-size: 2rem;
  color: var(--secondary-color);
  margin: 2rem 0 3rem;
}

.time {
  font-size: 1rem;
  color: var(--main-color);
}

@media (max-width: 991px) {
  .speakers-list {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
}

@media (max-width: 767.98px) {
  .speakers-list {
    grid-template-columns: minmax(0, 1fr);
  }
}

@media (max-width: 576px) {
  .speakers-list {
    padding: 1rem;
  }
}




.speaker {}

.speaker img {
  max-width: 100%;
}

.watch img {
  width: 2em;
  margin-right: 0.5em;
}

.watch {
  color: #FF0000;
  text-align: center;
}

.watch:hover {
  color: #FF0000;
}

.watch_container {
  margin-bottom: 2em;
}

.speaker .name {
  margin-top: 1rem;
  font-size: 25px;
  font-weight: 700;
  padding-top: 14px;
  text-align: center;
}

.speaker .designation,
.speaker .sort-bio {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 500;
  margin-top: 11px;
  text-align: center;
}

.speaker a{
  margin: 15px 0px;
  font-size: 18px;
  color: #4accce;
  font-weight: 500;
  text-align: center;
}

.speaker p{
  text-align: center;
}

.speaker .sort-bio {
  line-height: 28px;
}

.speaker .sort-bio span {
  display: block;
  text-transform: uppercase;
  font-size: .8rem;
  margin-bottom: -.2rem;
  font-weight: 400;
  color: var(--secondary-color);
}

.speaker .count {
  margin-top: 10rem;
  font-size: 75px;
  font-weight: 300;
}

.speaker .count+p {
  font-size: 45px;
  margin-bottom: 2rem;
}

.speaker .conf-btn {
  display: block;
}

#previous-editions,
#halls,
#call-to-action {
  background-color: rgba(255, 255, 255, 0.1);
}

.hall {
  background-color: #00ccce;
  min-height: 340px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hall .title {
  margin-top: 0.5rem;
  font-size: 30px;
  font-weight: 900;
}

#map {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
}

#map-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#map-container:before {
  content: '';
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
  z-index: 10;
  top: 0;
  left: 0;
  position: absolute;
  opacity: .1;
  pointer-events: none;
}

.single-sponsor {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  margin: 10px;
  text-align: center;
}

#call-to-action h3 {
  font-size: 50px;
  font-weight: 700;
}

#call-to-action p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
}

footer {
  text-align: center;
}

footer .copyright,
footer .previous-years {
  padding-top: 2rem;
}

.newsletter {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.newsletter h1 {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
}

.newsletter form {
  padding: 4rem 0;
}

.newsletter form input {
  padding: 20px 40px;
  border: none;
  font-size: 14px;
}

.newsletter form input:nth-child(1) {
  margin-right: 30px;
}

#sprite {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: circle(1% at 1% 1%);
  clip-path: circle(1% at 1% 1%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

svg.icon.icon-right-arrow {
  height: 12px;
  width: 38px;
  margin-left: 5px;
}

.agenda-title {
  border: none;
  background: transparent;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 1rem;
  padding-left: 0;
  width: 100%;
  text-align: left;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.agenda-title:focus,
.agenda-title:active {
  outline: none;
}

.agenda-desc {
  color: rgba(255, 255, 255, 0.75);
}

.agenda-desc p {
  padding-bottom: 1rem;

}

#accordionOne>div,
#accordionTwo>div {
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.day-one {
  margin-top: 74px;
}

.day-two {
  margin-top: 4rem;
}

.agenda-title[aria-expanded="true"] .plus-icon {
  display: none;
}

.agenda-title[aria-expanded="false"] .minus-icon {
  display: none;
}

#schedule {
  position: relative;
}

#workshop-ufo {
  position: absolute;
  top: 5rem;
  right: 20vw;
  animation: ufo-float 2s ease-in-out infinite;
}

#workshop-ufo img {
  width: 8rem;
}

.buzzconf-image{
  width: 600px;
}
.location-text{
  font-size: 1.2rem;
}
@media (max-width: 767.98px) {
  .location-text{
  font-size: 1rem;
  }

  .big-text {
    font-size: 52px;
  }

  .big-text+p {
    width: 100%;
    font-size: 1rem;
  }

  .buzzconf-image{
    width: 300px;
  }
  .location-text{
    margin-top: 25px;
  }
  .small-cta {
    font-size: 1rem;
  }

  .big-text .buzzconf {
    animation: buzz 100ms linear 6.5s 8 alternate;
    display: inline-block;
  }
  #hero {
    min-height: auto;
    padding: 5rem 0;
    height: 100vh;
  }

  #hero .small-cta>* {
    font-size: 1rem;
    padding: 10px 20px;
  }

  #hero .city {
    width: 100%;
    bottom: -20vh;
    top: auto;
    right: -16vh;
  }

  #hero #ufo {
    position: absolute;
    width: 8rem;
    left: -70vw;
    top: 30%;
    animation: ufo-stuff 7.5s ease-out 1;
    z-index: 20;
  }

  #hero .ufo {
    transform: rotate(15deg);
    animation: ufo-rotate 7.5s ease-out 1;
  }

  .section-title {
    font-size: 32px;
    margin-bottom: 3rem;
    margin-top: 1rem;
  }

  .section-padding {
    padding: 2rem 0;
  }

  .speaker .count {
    font-size: 25px;
  }

  .speaker .count+p {
    font-size: 1rem;
  }

  .conf-btn {
    font-size: 1rem;
  }

  #call-to-action h3,
  .newsletter h1 {
    font-size: 24px;
  }

  #call-to-action p {
    font-size: 1rem;
  }

  .single-sponsor {
    padding: 15px;
  }

  .single-sponsor img {
    max-width: 100%;
  }

  #sponsors h3 {
    font-size: 20px;
  }

  .hall {
    min-height: 230px;
    margin: 15px;
  }

  .hall .title {
    font-size: 24px;
  }

  .hall .address {
    font-size: 1rem;
  }

  .speaker .name {
    font-size: 1rem;
  }

  .speaker .designation,
  .speaker .sort-bio {
    font-size: 1rem;
    line-height: 1.6;
  }

  .agenda-title {
    font-size: 16px;
  }

  .agenda-desc {
    font-size: 1rem;
  }

  .day-one,
  .day-two {
    background-image: none;
  }

  .copyright {
    font-size: 10px;
  }

  .newsletter form input {
    padding: 10px 20px;
    font-size: 1rem;
  }

  #speaker {
    padding-top: 2rem;
  }

  .newsletter form input:nth-child(1) {
    margin-right: 10px;
  }

  #accordionTwo>div {
    margin-left: 0;
  }

  #hero {
    min-height: auto;
    padding: 2rem 0 6rem;
  }

  .day-title {
    font-size: 1.5rem;
    color: var(--secondary-color);
    margin: 1rem 0;
  }

  .day-one {
    margin: 0;
  }
}

.previous-editions{
  position: absolute;
  opacity: .7;
  top: 0;
  left:0;
  width: 100%;
  background: rgba(0, 0, 0, 0.288);
  padding: 1rem 0;
  color: #aaa;
  z-index: 10;
  font-weight: 300;
  transition: 0.2s opacity ease;
}

@media (max-width: 991px) {
  .previous-editions{
    display: none;
  }
}

.previous-editions:hover{
  opacity: 1;
}

.previous-editions a {
  color: var(--main-color);
  margin-left: 1rem;
}

#previous-editions .list{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap:3rem;
  justify-items: flex-start;
}

#previous-editions .list .previous-edition{
  font-size: 3rem;
  color: var(--main-color);
  text-decoration: none;
  line-height: 1;
  transition: 0.3s transform;
}

#previous-editions .list .previous-edition:hover{
  text-decoration: none;
  transform: scale(1.03);
}

#previous-editions .list img{
  width: 16rem;
}

@media (max-width: 991px) {
  #previous-editions .list{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  #previous-editions .list .previous-edition{
    font-size: 2.4rem;
  }

  #previous-editions .list img{
    width: 13rem;
  }
}


@media (max-width: 767.98px) {}